@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: hsl(216, 12%, 8%);
}

#form-1{
    /* position: absolute;
    top: 10%;
    left: 37%; */
    display: block;
    height: 400px;
    width: 400px;
    /* margin:10% auto; */
    margin-top: 40%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    justify-content: center;
    align-items: center;
}

#form-1 img{
    display: block;
    background-color: rgba(149, 158, 172, 0.2);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20px;
    padding: 15px;
}

#form-1 h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    padding: 10px;
}

#form-1 p{
    color: hsl(217, 12%, 63%);
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.5rem;
    margin-left: 10px;
}

#form-1 .radio{
    margin-top: 5px;
    display: none;
}

#form-1 label{
    background-color: rgba(149, 158, 172, 0.2);
    color: hsl(0, 0%, 100%);
    width: 60px;
    height: 50px;
    margin-top: 15px;
    margin: 10px;
    /* padding: 25px; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

#form-1 label:hover{
    background-color: rgba(149, 158, 172, 0.6);
}

#form-1 input[type="radio"]:checked + label{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#form-1 .btn{
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    font-family:'Overpass', sans-serif;
    font-size: 20px;
    /* font-weight: thin; */
    line-height: 1.5rem;
    width: 350px;
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    border-radius: 20px;
    border: none;
    transition: 0.3s all;
}

#form-1 .btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

#form-2{
    /* position: absolute;
    top: 10%;
    left: 38%; */
    height: 400px;
    width: 400px;
    /* margin:10% auto; */
    margin-top: 40%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
    display: none;
}

#form-2 img{
    margin: 20px;
    margin-left: 90px;
}

#form-2 label{
    background-color: rgba(149, 158, 172, 0.2);
    border-radius: 15px;
    width: 40%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: hsl(25, 97%, 53%);
    margin-left: 80px;
    margin-bottom: 20px;
}

#form-2 h1{
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
    /* margin-left: 90px; */
    margin-bottom: 10px;
    text-align: center;
}

#description{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    align-self: center;
    line-height: 1.5rem;
    text-align: center;
}

.attribution{
    color: hsl(0, 0%, 100%);
    margin-top: 300px;
}