@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: hsl(216, 12%, 8%);
}

form{
    height: 400px;
    width: 400px;
    margin:10% auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    background-color: hsl(213, 19%, 18%);
}

form img{
    margin: 20px;
    margin-left: 100px;
}

form label{
    background-color: rgba(149, 158, 172, 0.2);
    border-radius: 15px;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    color: hsl(25, 97%, 53%);
    margin-left: 90px;
    margin-bottom: 20px;
}

form h1{
    color: hsl(0, 0%, 100%);
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 10px;
}

#description{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    align-self: center;
    line-height: 1.5rem;
}